<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="https://uwhealth.github.io/Nu-Connect/uconnect_assets/css/main.css" />
  <link rel="stylesheet" href="grocery-list.css" />
</head>

<body>
<!-- Navigation -->
  <nav class="flex flex-wrap items-center justify-between p-5 bg-blue-200">
    <div class="logoBox flex">
    </div>
    <div class="flex md:hidden">
      <button id="hamburger">
        <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40"
          height="40" />
        <img class="toggle" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40"
          height="40" />
      </button>
    </div>
    <div
      class="toggle w-full md:w-auto md:flex text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">
      <a href="/grocery-list"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Grocery
        List</a>
      <a href="/manage-fridge"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Your
        Fridge</a>
      <a href="#"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Recipes</a>
      <a href="#"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Dashboard</a>
    </div>
    <a href="/"
      class="toggle md:flex w-full md:w-auto px-4 py-2 text-right bg-blue-900 hover:bg-blue-500 text-white md:rounded">Logout</a>
  </nav>
<!-- Navigation -->

  <div class="groceryDiv">

    <h1>Grocery List</h1>
    <p>Happy Shopping! Input the grocery items you need to purchase.</p>

    <table class="groceryTable">
      <tr>
        <th>Grocery</th>
        <th>Purchased</th>
        <th>Delete</th>
      </tr>

      <tr class="rows">
        <td><input placeholder="Grocery Item"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
      </tr>
    </table>
    <button onclick="addRow('groceryTable')" class="add tableBtn">Add Grocery Item</button>
    <button onclick="deleteRow('groceryTable')" class="delete tableBtn">Delete Row</button>
    <button class="store tableBtn">Store List</button>
  </div>
  <div class="row dashboard-cards">
    <% for(let i=0; i < list.length; i++){ %>

      <div class="card col-md-4">
        <div class="card-title">
          <section class="editList" id="<%= list[i]._id %>">
            <h2>
              <input value="<%= list[i].title %>" class="titles">

              </input>
              <small>
                <%= list[i].date %>
              </small>
            </h2>
            <span class="edit">✏️</span>
            <span class="delete">🗑️ </span>
          </section>
          <div class="task-count">
            <%= list[i].groceries.length %>
          </div>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <ul class="task-list">
              <% for (let j=0; j < list[i].groceries.length; j++) { %>
                <li>
                  <%= list[i].groceries[j].grocery %>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a class="btn" href="#">Close</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="script.js"></script>
  <script src="main.js"></script>
  <script src="list.js"></script>
</body>

</html>