<!doctype html>
<html>

<head>
  <title>Manage Your Fridge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="https://uwhealth.github.io/Nu-Connect/uconnect_assets/css/main.css" />
  <link rel="stylesheet" href="manage-fridge.css">
</head>

<body>
  <!-- navigation -->
  <nav class="flex flex-wrap items-center justify-between p-5 bg-blue-200">
    <div class="logoBox flex">
    </div>
    <div class="flex md:hidden">
      <button id="hamburger">
        <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40"
          height="40" />
        <img class="toggle" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40"
          height="40" />
      </button>
    </div>
    <div
      class="toggle w-full md:w-auto md:flex text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">
      <a href="/grocery-list"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Grocery
        List</a>
      <a href="/manage-fridge"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Manage
        Your
        Fridge</a>
      <a href="/recipes"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Recipes</a>
      <a href="/dashboard"
        class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Dashboard</a>
    </div>
    <a href="/"
      class="toggle md:flex w-full md:w-auto px-4 py-2 text-right bg-blue-900 hover:bg-blue-500 text-white md:rounded">Logout</a>
  </nav>

  <!-- navigation -->

  <!-- Expiration Dates + Recipes Section -->
  <table>
    <tr>
      <th>Grocery List</th>
      <th>Grocery Item</th>
      <th>Date of Purchase</th>
      <th>Expiration Date</th>
      <th>Add To Fridge</th>
    </tr>
    <% for(let i=0; i < list.length; i++){ %>
      <% for (let j=0; j < list[i].groceries.length; j++) { %>

        <!-- Show if not consumed -->
        <% if (!list[i].groceries[j].consume) { %>
          <!-- NIT-PICK: Would re-name CLASS to something more consistent with the content it displays -->
          <tr class="entry" data-grocery="<%= list[i].groceries[j].grocery %>" data-listid="<%= list[i].listId %>">
            <td>
              <%= list[i].title %>
            </td>
            <td>
              <%= list[i].groceries[j].grocery %>
            </td>

            <td>
              <%= list[i].date %>
            </td>

            <!-- Show if no expiration date -->
            <% if (list[i].groceries[j].expirationDate==='' ) { %>

              <td><input class="expDate" type="date" name="expDate"></td>

              <td>
                <button class="addToFridge">Add to Fridge</button>
              </td>
              <% } else { %>
                <!-- Show if there is an expiration date -->
                <!-- The UI you would show if the item was already in the fridge w/ expiration date -->
                <% if(list[i].groceries[j].days > 0){%>
                  <td><span <%=list[i].groceries[j].days < 4 && list[i].groceries[j].days> 0 ? 'class= warning' :
                      list[i].groceries[j].days > 4 ? 'class=null' : 'class=expired'%>>
                      Expires in <%=
                        list[i].groceries[j].days %> days</span></td>
                  <td>
                    <%} else {%>
                  <td><span <%=list[i].groceries[j].days < 4 && list[i].groceries[j].days> 0 ? 'class= warning' :
                      list[i].groceries[j].days > 4 ? 'class=null' : 'class=expired'%>>EXPIRED!</span></td>
                  <td>
                    <% } %>
                      <button class="consume">Consume</button>
                  </td>
                  <% } %>

          </tr>
          <% } %>

            <% } %>
              <% } %>
  </table>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="script.js"></script>
  <script src="manage-fridge.js"></script>
</body>

</html>